.container {
  min-height: 100vh;
  background-color: lightblue;
  color: red;
  position: relative;
}

.container .navigate {
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  gap: 30px;
}

.container .navigate span {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  padding-top: 40%;
}

.container .context {
  height: 200vh;
  background-color: coral;
}
